---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/1.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
	<Row>
		<Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
			<!-- <h2 class="text-pretty">Innovative tools to <strong>transform</strong> your workflow</h2>
			<p class="pb-0 text-lg">
				Explore the suite of tools designed to streamline your workflow, enhance productivity, and
				drive growth. Each product is crafted with precision to meet your needs and exceed your
				expectations.
			</p> -->
			<h2 class="text-pretty">Revolutionary solutions to <strong>redefine</strong> your freelance experience</h2>
<p class="pb-0 text-lg">
Explore our diverse range of AI-powered creations—crafted by our expert freelance developers! From cutting-edge RAG systems to smart note-taking apps and intuitive planners, we build innovative solutions that drive success and productivity.
</p>
		</Col>
	</Row>
	<Row>
		<Col span="4">
	   <Card
	   title="All your projects in one place"
	   subtitle="Effortlessly manage your projects with our centralized admin panel—designed for complete control and smooth collaboration. Each panel is customized to meet your needs, ensuring a seamless project experience from start to finish."
	   image="https://res.cloudinary.com/tesalab/image/upload/v1738988047/feature-01_rubmug.svg"
	   
	   />
	   </Col>
	   <Col span="4" classes="flex flex-col gap-6">
	   <Card
	   title="AI-Powered Workflow Assistant"
	   subtitle="Streamline your operations with our AI-powered chat and agents—automating tasks, managing workflows, and boosting productivity effortlessly"
	   image="https://res.cloudinary.com/tesalab/image/upload/v1738859290/feature-02_iz4zt0.svg"
	   
	   />
	   <Card
	   title="End-to-End Development & Deployment"
	   subtitle="Our expert freelance developers handle everything—from coding to deployment—ensuring a seamless DevOps pipeline with efficient delivery and top-tier performance."
	   image="https://res.cloudinary.com/tesalab/image/upload/v1738859290/feature-03_qe6iqz.svg"
	   
	   />
	   </Col>
	   <Col span="4" classes="flex flex-col gap-6">
	   <Card
	   title="Project Excellence"
	   subtitle="A dedicated support specialist and expert freelance developer assigned to your project—providing personalized attention and seamless collaboration throughout the entire development lifecycle."
	   image="https://res.cloudinary.com/tesalab/image/upload/v1738859289/feature-04_qhpfdn.svg"
	   
	   />
	   <Card
	   title="User Behavior Analytics"
	   subtitle="Every platform we build is equipped to track user behavior, providing valuable insights to enhance functionality and drive long-term software improvements."
	   image="https://res.cloudinary.com/tesalab/image/upload/v1738859289/feature-05_izayhd.svg"
	  
	   />
	   </Col>
	   </Row>
</Section>
