---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import feature01 from '../../../assets/cards/1.svg'
import feature02 from '../../../assets/cards/feature-02.svg'
import feature03 from '../../../assets/cards/feature-03.svg'
import feature04 from '../../../assets/cards/feature-04.svg'
import feature05 from '../../../assets/cards/feature-05.svg'
---

<Section id="features">
    <Row>
        <Col span="12" align="center" classes="mb-12 max-w-4xl mx-auto">
            <h2 class="text-pretty">Revolutionary AI solutions to <strong>redefine</strong> your work experience</h2>
            <p class="pb-0 text-lg">
                Explore our diverse range of AI-powered solutions! From cutting-edge RAG systems to intelligent assistants and autonomous agents, we create innovative AI tools that drive efficiency and transform how you work.
            </p>
        </Col>
    </Row>
    <Row>
        <Col span="4">
            <Card
                title="Centralized AI Command Center"
                subtitle="Control all your AI agents from one intuitive dashboard—designed for seamless orchestration and monitoring. Each panel provides complete visibility and control over your AI workflows."
                image="https://res.cloudinary.com/tesalab/image/upload/v1738988047/feature-01_rubmug.svg"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="Autonomous AI Assistants"
                subtitle="Deploy intelligent AI agents that automate complex tasks, manage workflows, and boost productivity with minimal human intervention."
                image="https://res.cloudinary.com/tesalab/image/upload/v1738859290/feature-02_iz4zt0.svg"
            />
            <Card
                title="End-to-End AI Integration"
                subtitle="Our AI agents seamlessly integrate with your existing systems—from data processing to decision-making—ensuring efficient operations and optimal performance."
                image="https://res.cloudinary.com/tesalab/image/upload/v1738859290/feature-03_qe6iqz.svg"
            />
        </Col>
        <Col span="4" classes="flex flex-col gap-6">
            <Card
                title="Intelligent Support"
                subtitle="24/7 AI-powered support system that learns from interactions—providing consistent, accurate assistance and adapting to your specific needs."
                image="https://res.cloudinary.com/tesalab/image/upload/v1738859289/feature-04_qhpfdn.svg"
            />
            <Card
                title="Advanced Analytics & Learning"
                subtitle="Our AI agents continuously analyze performance data and user interactions, evolving to provide increasingly sophisticated and tailored solutions."
                image="https://res.cloudinary.com/tesalab/image/upload/v1738859289/feature-05_izayhd.svg"
            />
        </Col>
    </Row>
</Section>
